body {
  margin: 0;
  color: black;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 20px;
}

input, button {
  font-size: 20px;
}

h1 {
  font-weight: bolder;
  font-size: 72px;
}

#menu {
  position: absolute;
}


#menu li {
  list-style-type: none;
  display: inline;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bold;
}

#banner {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Biere_wallpaper.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#banner > div {
  margin-top: -30px;
  font-style: italic;
  font-size: 20px;
}

#searchBar {
  display: block;
  width: 300px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-align: left;
  margin: 20px auto 0 auto;
}

#searchResult {
  display: block;
  width: 300px;
  text-align: left;
  margin: 0 auto 0 auto;
}

#searchResult > div {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-collapse: true;
  cursor: pointer;
}

#searchResult > div:hover {
  background-color: #eee;
}

#searchButton {
  display: block;
  text-align: center;
  margin: 20px auto 0 auto;
}

#beerInfos {
  display: none;
  background-color: white;
  border: 0;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 10px;
}
